* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: black;
}
.elem{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 10px;
}
button{
  color: white;
  background-color: royalblue;
  padding: 10px 40px;
  border: 2px solid black;
}
button:active{
  transform: scale(0.95);
}
